#header {
    text-align: center;
    color:black;
    font-weight: 500;
    font-size: 40px;
    margin:20px;
}
.mainDiv {
    display:flex;
  /*  border:5px solid black;*/
   
}

.CustomerForm {

    font-size: 20px;
    border-radius: 10px;
    background-color:lightblue;
  /*  border: 5px solid red;*/
  margin:10px;
    flex:1;
}

.NameListing {
   /* border: 5px solid blue;*/
    flex:1;
    margin:10px;
    background-color: Moccasin;
    border-radius: 10px;

}

