.Items{
    display:flex;
}
.Items > div {
    flex:1;
    text-align: center;
    margin:5px;
    
}

.bottomButtons {
   
    
    color:white;
    background-color: Peru;
    border-radius: 10px;
    padding:5px;
    font-size: 15px;
    
}

.buttons{ 
    display :flex;
    margin-top:20px;
    justify-content: space-between;
}



#headC {
    font-size: 30px;
    font-weight: 500;
    margin: 10px;
}

.totals {
    
    text-align: end;
    

}

.totals > label {
    margin: 20px;
}



